.wide-date h3 {
    border-bottom: 1px solid gray;
}

.scrollable-list-menu{
    background: rgba(0, 0, 0, 0.75)
}

.pure-menu-scrollable::-webkit-scrollbar {
  width: 0.8em;
}

/* Track */
.pure-menu-scrollable::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1em rgb(112, 112, 112); 
  border-radius: 10px;
}
 
/* Handle */
.pure-menu-scrollable::-webkit-scrollbar-thumb {
  background: #807b77;
  border-radius: 1em;
}

/* Handle on hover */
.pure-menu-scrollable::-webkit-scrollbar-thumb:hover {
  background: #5e6063; 
}

.pure-menu-link{
    color: rgb(212, 212, 212);
}

.pure-menu-link:hover{
    background: rgba(0, 0, 0, 0.3)
}

.scrollable-list-menu h3{
    border-bottom: 1px solid gray;
}

.scrollable-list-menu {
    font-size: 1.2em;
    height: 26em;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.listMenuItem p{
    margin: 0.2em 0;
}