h3 {
    border-bottom: 1px solid gray;
}

.scrollable-list-menu {
    font-size: 1.2em;
    height: 26em;
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.listMenuItem p{
    margin: 0.2em 0;
}