*{
    font-family: 'Roboto', sans-serif;
}

.title {
    color: blue
}

#logo {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

#teacher-preview {
    width: 33.3%;
    height: 33.3%;
}

#teacher-preview > video {
    width: 100%;
    height: 100%;
    margin: 1%;
}

#student-video {
    width: 100%;
    height: 100%;
}

#logout-button {
    float: right;
}

.pure-g {
    height: 100%;
}

.pure-u-1 > pure-u-md-1-3 {
    height: 20%;
}

.pure-button {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.pure-button:hover{
    box-shadow: 0.2em 0.2em 0.2em rgba(0,0,0,0.2);
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

/*.pure-g > div {
    width: 33.3%;
}*/

#chat-window {
    width: 100%;
    height: 26em;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 2%;

}

#teacher-chat {
    max-height: 33.3%;
}

#chat-body {
    width: 100%;
    height: 100%;
}

.time-element {
    width: 15%;
    display: inline-block;
    background-color: aquamarine;
    font-size: small;
    vertical-align: top;
}

.identity-element {
    width: 20%;
    display: inline-block;
    background-color: cornflowerblue;
    font-size: small;
    vertical-align: top;
}

.message-element {
    width: 65%;
    display: inline-block;
    font-size: small;
}

#message-input {
    margin: 2%;
    width: 80%;
}

#scrollable-list {
    border: 1px solid gray;
    border-radius: 4px;
    margin: 2%;
    height: 26em;
}
