.title {
    color: blue
}

#logo {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
}

#teacher-preview {
    width: 100%;
    height: 100%;
    background-color: black;
}

#student-video {
    width: 100%;
    height: 100%;
    background-color: black;
}
#teacher-preview > video {
    width: 100%;
    height: 100%;
}

#logout-button {
    float: right;
}

.pure-g {
    height: 20%;
}

.pure-button {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}