.modal-wrapper-lg{
    position: fixed;
    top: 0;
    left: 20%;
    z-index: 100;
    border: 1px solid #d0cccc;
    border-radius: 0.3em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
    margin-top: 5%;
    transition: all .3s ease;
    width: 60%;
    height: 80%;
}


.modal-header-lg h3 {
    float: left;
    margin: 0;
    padding: 0;
}

.modal-body-lg p{
    margin-top: 5em;
    text-align: center;
}


